Adlm
AppleScripts
Applications
Creative Cloud Files
Downloads
Google Drive
Hightail
InPlate_cc
InVision
Incompatible Software
Library
Movies
Music
Pictures
Public
Screenshots
builds
dead.letter
keychain.rb
redis-3.0.2
shell-scripts
spark-installer
tmp
Desktop
Documents
Design
Development
Dropbox
.DS_Store
Desktop.ini
._*
Thumbs.db
.Spotlight-V100
.Trashes
.CFUserTextEncoding
.Extensis
.Graboid
.MacOSX
.Qprints
.ROESEngineCache
.WebStorm9
.Xauthority
.abobe
.android
.appcfg_nag
.aspera
.cache
.dropbox
nvim/pack/**/.git
