alias vi="mvim -v"
alias vim="mvim -g"
alias vimrc="vim ~/.vimrc"
alias zshrc="vim ~/.zshrc"
alias artisan="php artisan"
alias art="php artisan"
alias artdump="artisan dump-autoload"
alias compdump="composer dump-autoload"
alias fulldump="artdump && compdump"
alias tinker="artisan tinker"
alias homestead="php vendor/bin/homestead"
alias gs="git status"
alias gc="git commit -a -m"
alias rocketeer="php rocketeer.phar"
alias server="php -S 127.0.0.1:5220"
alias tagnet="ssh tagnetdev@70.32.76.228"
alias hosts="sudo vi /etc/hosts"
alias phpunit="vendor/bin/phpunit"
alias please="php please"
alias docs='cd ~/Documents'
alias dl='cd ~/Downloads'
alias sb='cd ~/Development/sandbox'
alias dev='cd ~/Development'

alias startphp='brew services start php70'
alias stopphp='brew services stop php70'
alias restartphp='brew services restart php70'
#alias startapache='brew services start httpd24'
#alias stopapache='brew services stop httpd24'
#alias restartapache='brew services restart httpd24'
alias startapache='sudo apachectl start'
alias stopapache='sudo apachectl stop'
alias restartapache='sudo apachectl -k restart'
alias startmysql='brew servivces start mysql'
alias stopmysql='brew services stop mysql'
alias restartmysql='brew services restart mysql'
alias startmongo='brew services start mongodb'
alias stopmongo='brew services stop mongodb'
alias restartmongo='brew services restart mongodb'
alias dnsmasqstart='brew services start dnsmasq'
alias dnsmasqstop='brew services stop dnsmasq'
alias dnsmasqrestart='brew services restart dnsmasq'

alias wordpress='~/.custom/install-wp.sh'

alias brewu='brew update && brew upgrade && brew cleanup && brew prune && brew doctor'
